{
  "presets": ["es2015", "react"],
  "plugins": [
    ["react-templates", {reactVersion: "0.14.7", "modules": "es6", "ext":".rt.html"}],
    ['module-alias', [
      {src: './client/lib/design_component_template_loader', expose: 'design_component_template_loader'},
      {src: './client/lib/design_component_sass_loader', expose: 'design_component_sass_loader'}
    ]]
  ]
}
