<div id="layout">
  <h1>Basic Layout Component</h1>
  <div rt-if="this.route_name === 'MissingRoute'" class="alert alert-danger">
    Sorry, the page you requested does not exist.
  </div>
  <div rt-if="this.route_name === 'IndexRoute'" class="alert alert-warning">
    Choose an example.
  </div>
  <div rt-if="this.route_name === 'ExampleRoute'" class="alert alert-info">
    {this.example.introduce()}
  </div>
  <div class="btn-group" role="group">
    <button
      rt-repeat="example in this.examples"
      key="{example.scoped_id}"
      data-param="example_id"
      data-value="{example.id}"
      rt-class="{active: this.example && this.example.id === example.id}"
      onClick="{this.goToExample.bind(this)}"
      type="button" class="btn btn-primary">{example.data.name}</button>
  </div>
</div>
